*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(247, 215, 133);
}
#headertop {
    background-color: blueviolet;
}
.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
#headertop .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#flag {
    width:16px;
    margin-right: 10px;
}
#down {
    width:16px
}
#languageselector {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logoicon {
    width: 40px;
    margin-right: 15px;
}
#shoppeename {
    font-size: 30px;
    font-family: cursive;
}
.navicon {
    width: 24px;
    padding-left: 5px;
}
#headercenter {
    padding-top: 8px;
    padding-bottom: 8px;
}
#headercenter a {
    text-decoration: none;
}
#headercenterlogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#headercenter .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headercentersearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(185,185,185);
    width: 600px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
   background-color: white;
}
.headercentersearch input {
    border: none;
    outline: none;
    width: 100%;
}
#searchicon {
    width: 20px;
    opacity: 60%;
}
